@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --light: 180 9% 96%;
        --light-accent: 216 2% 60%;
        --primary: 190 22% 51%;
        --dark: 214 15% 21%;
        --dark-accent: 240 5% 57%;
        --success: 134 33% 49%;
        --warning: 38 64% 50%;
        --danger: 4 90% 58%;
    }

    html {
        -webkit-text-size-adjust: 100%;
    }

    html {
        @apply h-full block;
    }
    body {
        @apply bg-dark w-full text-[16px] min-h-full scroll-smooth overflow-y-scroll scrollbar-thumb-[#67949e] scrollbar-thin;
    }
    h1 {
        @apply text-[4.236rem];
    }
    h2 {
        @apply text-[2.618rem];
    }
    h3 {
        @apply text-[1.618rem];
    }
    a {
        @apply hover:text-primary transition-colors duration-75 ease-in;
    }
}

@layer components {
    .hero {
        @apply v-stack min-h-screen relative w-full px-4;
    }
    .h-stack {
        @apply flex flex-row;
    }
    .v-stack {
        @apply flex flex-col;
    }
}
