@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --light: 180 9% 96%;
        --light-accent: 216 2% 60%;
        --primary: 190 22% 51%;
        --dark: 214 15% 21%;
        --dark-accent: 240 5% 57%;
        --success: 134 33% 49%;
        --warning: 38 64% 50%;
        --danger: 4 90% 58%;
    }
    body {
        font-size: 16px;
    }
    body {
        @apply bg-dark;
    }
    h1 {
        @apply text-[4.236rem];
    }
    h2 {
        @apply text-[2.618rem];
    }
    h3 {
        @apply text-[1.618rem];
    }
    a {
        @apply hover:text-primary transition-colors duration-75 ease-in;
    }
    body {
        @apply scroll-smooth;
    }
}

@layer components {
    .hero {
        @apply v-stack h-screen min-h-screen overflow-hidden justify-center align-middle items-center;
    }
    .h-stack {
        @apply flex flex-row;
    }
    .v-stack {
        @apply flex flex-col;
    }
}
