@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --light: 180 9% 96%;
        --light-accent: 216 2% 60%;
        --primary: 190 22% 51%;
        --dark: 214 15% 21%;
        --dark-accent: 240 5% 57%;
        --success: 134 33% 49%;
        --warning: 38 64% 50%;
        --danger: 4 90% 58%;
    }
    body {
        font-size: 16px;
    }
}
